@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFFFFF;
}

button, 
button:active, 
button:focus {
    outline: none;
    border-style: none;
}
.btn{
    max-width: 200px;

    background: #D1A954;
    outline: none;
 
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0px 20px;
    cursor: pointer;
}
h1{
    font-weight: bold;
font-size: 38px;
/* line-height: 87px; */
letter-spacing: 0.1em;
text-transform: uppercase;
}

.text{

font-weight: normal;
font-size: 16px;
line-height: 150%;
}

.main{
    background:no-repeat center/100%  url('img/background.jpg') ;
    background-color: rgba(0,0, 0, 0.5);
    background-blend-mode: multiply;
    padding-top: 51px;
   
}
.container{
    max-width: 1200px;
    margin: auto;
}

.main__container{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0.2fr;

}

.header__nav{
  display: flex;
  justify-content: space-between;

}

.header__link:last-child{
    margin-right: 100px;
}

.header__link{

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
}

.header__tel{
    justify-self: end;
    font-weight: bold;
}

.main__headline{
    align-self: stretch;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
    padding:0px 0px 200px 0px;
    grid-column-gap: 100px;
}

.main__head{
    grid-column: 1/2;
    align-self: center;
}
.main__text{
    grid-column: 1/2;
}
.main__btn{
    grid-column: 1/2;
}

.header__video{
    grid-column-start: 2;
    grid-row: 1/4;
    align-items: center;
}
